# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.mypy_cache/
.coverage

# Virtual environments
.venv/
venv/

# Build artifacts
build/
dist/
*.egg-info/

# Local outputs
outputs/*
!outputs/.gitkeep
